.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
}

.mainContainer {
    flex: 1;
    text-align: center;
}