@import '../../styles/variables';

.container {
    flex: 1;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: stretch;

    .hint {
        color: $inactiveTextColor;
    }

    .error {
        color: $importantColor;
    }

    .record {
        user-select: none;
    }
}