@import '../../styles/variables';

.container {
    padding: 1rem;

    .player {
        width: 100%;
        display: block;
        margin: 3rem 0;
    }

    .play {
        border: 0;
        padding: 0;
        margin: 0;
        width: 8rem;
        height: 8rem;
        border-radius: 4rem;
        background-color: $mainTextColor;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;          /* Likely future */
        color: $importantColor;
    }
}

.nameInput {
    width: 80%;
    font-size: 1.2rem;
    height: 2rem;
}