@import '../../styles/variables';

.loader {
    text-align: center;
    margin: 2rem;
}

.list {
    flex: 1;
    display: block;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
