@import '../../../styles/variables';

.container {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    p {
        width: 100%;
    }

    i {
        margin: 1rem 2rem;
        cursor: pointer;
        &:hover {
            color: $activeTextColor;
        }
    }

    .play {

    }

    .stop {
        color: $importantColor;
    }
}